body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background: #202023;
    color: white;
box-sizing: border-box;
}
.header{
    width: 720px;

    margin: auto;
    padding: 15px;




}
.logo {

    font-weight: bold;
    margin: auto;
    width: 100px;

}
.logo-name{
    border-right: 2px solid white;
    padding: 0px 10px;
}
.logo-name::before{
    content: "👨"
}
.cv-name{
    font-weight: 400;
    font-size: 80%;
    color: orange;
}
main{
    width: 640px;
    margin: auto;
}
.main-logo{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
}
#orange{
    color: orange;
}
.welcome {
    background: rgba(255, 255, 255, 0.33);
    padding: 8px;
    text-align: center;
    border-radius: 15px;
}
.about{
    margin-top: 50px;
}
.Illya{
    font-weight: bold;
    font-size: 36px;
}
.name{
    text-align: left;
}

.photo{
    float: right;
    width: 96px;
    height: 96px;
    border-radius: 100px;
    border: 1px white solid;

}
.skills{
    margin-top: 50px;
    width: 50%;
    float: left;
    height: 276px;
}
.skills-caption{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
   text-decoration-color: #525252;
    text-underline-offset: 9px;
    text-decoration-thickness: 3px;
}
ul li.frst {
    margin-top: 15px;
}
ul {
  list-style: none; /* Remove default bullets */
}

.skills ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: orange; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.project-caption{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
   text-decoration-color: #525252;
    text-underline-offset: 9px;
    text-decoration-thickness: 3px;

}
.projects {
     margin-top: 50px;
    width: 50%;

    float: right;
}

.projects a{
    text-decoration: none;
    color: white;
      background: rgba(129, 230, 217, 0.33);
    padding: 8px;
    list-style-position: inside;
    text-align: center;
    border-radius: 15px;
    display: block;
    margin-top: 15px;
}
.projects a:hover{
    background: rgba(129, 230, 217, 1);
    color: black;
    margin-left: 10px;
}
.contacts {
    margin-top: 450px;

}
.contact-caption{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
   text-decoration-color: #525252;
    text-underline-offset: 9px;
    text-decoration-thickness: 3px;

}

.contacts ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.contacts ul li {



    list-style: none;
}


.contacts a{
    width: 33%;
    text-align: center;
    border-radius: 25px;
    margin-top: 35px;
    text-decoration: none;
    color: orange;
    font-weight: bold;
    display: inline-block;
     background: rgba(255, 255, 255, 0.33);
}
.contacts a:hover{
     background: rgba(255, 255, 255, 1);
    color: black;
}































